#order-boxes {
    margin: 0;
    padding: 0 0 40px 0;
}

#order-boxes .line-padded {
    margin-top: 15px;
    margin-bottom: 15px;
}

#order-boxes .form-inline-always .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#order-boxes .fields-container {
    border-top: 10px solid #5AB9F1;
    border-bottom: 10px solid #5AB9F1;
}

#order-boxes .fields-container .field-row {
    padding: 10px 8px;
}

#order-boxes .fields-container .field-row:nth-child(odd) {
    background-color: #E8F0F9;
    color: #000000;
}

#order-boxes .fields-container .field-row:nth-child(even) {
    background-color: #D6E4F6;
    color: #000000;
}

#order-boxes .product-radio {
    padding-left: 40px;
}

#order-boxes .product-radio input[type=radio] {
    margin-left: -30px;
}

#order-boxes .large-text {
    font-size: 1.4em;
}

#order-boxes table.styled {
    width: 100%;
}

#order-boxes table.styled tr th {
    background-color: #5AB9F1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#order-boxes table.styled tr td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}

#order-boxes table.styled tr td.leftcol {
    padding: 5px 15px;
    width: 30%;
}

#order-boxes table.styled tr.carttableconfig td {
    background-color: #efefef;
    font-size: 0.8em;
    padding: 2px;
}

#order-boxes table.styled tr.carttablesummary td {
    background-color: #E8F0F9;
    color: #222222;
    height: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

#order-boxes table.styled tr.carttablesummary td.left {
    padding: 5px 15px;
    text-align: right;
}

#order-boxes .textgreen {
    color: #779500;
}

#order-boxes .textred {
    color: #cc0000;
}

#order-boxes .secure-warning {
    margin: 20px 0 20px 0;
    padding: 7px;
    border-top: 4px solid #EBE8CD;
    border-bottom: 4px solid #EBE8CD;
    background-color: #F1EFDC;
    font-size: 0.9em;
    text-align: center;
    color: #000;
}
#order-boxes .cc-input-container {
    padding: 15px 15px 10px 40px;
    background-color: #f3f3f3;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    text-align: left;
}
#order-boxes .cc-input-container .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
#order-boxes .cc-input-container .radio-inline {
    padding-left: 0;
    margin-bottom: 10px;
}
#order-boxes .cc-input-container .paymethod-info {
    cursor: pointer;
    padding-right: 10px;
    margin-bottom: 5px;
}
#order-boxes .cc-input-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#order-boxes .cc-input-container ul li {
    padding: 2px 0;
}
#order-boxes .cc-input-container i {
    padding: 0 6px;
    width: 28px;
    text-align: center;
}
#order-boxes .cc-input-container .existing-cc-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, auto) minmax(5em, 15em) auto;
    font-weight: 300;
    color: #666;
    font-size: 13px;
}
